<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Training Centrum Den Haag{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/indexStylesheet.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <style>
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px; /* The height is 400 pixels */
                width: 100%; /* The width is the width of the web page */
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <header>
        <img class="h_img img-fluid" style="height: 20vh;" src="{{ asset('img/nav_img.png') }}">
        <p class="h_right">
            <button class="btn btn-txt"><a style="color:#b30000; text-decoration: none;" href="/logout">Uitloggen</a>
            </button>
        </p>
        <p class="header"> Training Centrum</p>
        <p class="header">Den Haag</p>
        <div class="line" style="    border-bottom:2px solid #b30000;">
        </div>
    </header>


    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/admin/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/trainingen">Trainingen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leden&#160;overzicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bezoekers/gedrags_regels">Instructeur&#160;overzicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="les_overzicht">Lessen&#160;&&#160;overzicht</a>
                </li>
            </ul>
        </div>
    </nav>

</div>
</body>
<div class="container" id="container">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" style="height: 25vh;" src="{{ asset('img/boksen_1.jpg') }}">
        </div>
        <div class="col-4">
            <img class="img-fluid" style="height: 25vh;" src="{{ asset('img/boksen_2.jpg') }}">
        </div>
        <div class="col-4">
            <img class="img-fluid" style="height: 25vh;" src="{{ asset('img/boksen_3.jpg') }}">
        </div>
    </div>
    {% block body %}{% endblock %}
</div>
<footer class=" f_collor page-footer font-small blue">
    <div class="text-center f_text"> Training Centrum Den Haag 010 519 0532</div>
    <div class="text-center text-light "> Developed bij Coen Zuijderwijk</div>

</footer>
{% block javascripts %}{% endblock %}
</div>
</body>
</html>
