{% extends 'admin/admin.html.twig' %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Les overzicht</p></div>
    <div class="col-12 m_auto">
        <table class="table">
            <thead>
            <th>Les id</th>
            <th>Les naam</th>
            <th>Les locatie</th>
            <th>Omzet</th>
            </thead>

                <tr>
                    <td>{{ lessons.id }}</td>
                    <td>{{ lessons.lesNaam }}</td>
                    <td> {{ lessons.location }}</td>
                    <td>{{ i }}</td>


                </tr>
        </table>
        <td>
            <button class="btn btn-primary"><a style="color:white; text-decoration: none;"
                                               href="{{ path('les_o') }}">Terug</a>
            </button>
        </td>

    </div>
{% endblock %}
