{% extends 'admin/admin.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Training wijzigen</p>

        <table class="table">
            <thead>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Duur</th>
            <th>Kosten</th>
            </thead>
            {% for training in trainingen where id= {{ id }} %}
                <tr>
                    <td> {{ training.naam }}</td>
                    <td> {{ training.beschrijving }}</td>
                    <td> {{ training.duur | date('H:i')}}</td>
                    <td> {{ training.kosten }}</td>
                </tr>
            {% endfor %}
            {#        {{ trainingen }}#}
        </table>

    </div>
    </div>
    </div>
{% endblock %}
